{% extends "base.html" %}

{% block gorod %}
<form action="" class='search-form2' method="post">
  {{ form.hidden_tag() }}
  <div class="input-group mb-3 search-form2">
    {{ geoform.geosearch(class="form-control", placeholder="Your city...") }}
    {{ geoform.geosubmit(type="submit", class="btn btn-outline-dark", id="button-addon2") }}
  </div>
  <img src="{{ geoform.geoinfo['map'] }}"></img>
  <strong>{{ geoform.geoinfo['address'] }}</strong>
  <div class="row">
    <div class="col-3">
      <img src="{{ geoform.geoinfo['image']['image'] }}" width="50px"></img>
    </div>
    <div class="col">
      Temperature: <i>{{ geoform.geoinfo['image']['temp'] }} &deg;C</i><br>
      Feels like: <i>{{ geoform.geoinfo['image']['feels_like'] }} &deg;C</i>
    </div>
  </div>
</form>
{% endblock %}

{% block search %}
<form action="" class='search-form' method="post">
  {{ form.hidden_tag() }}
  <div class="input-group mb-3 search-form">
    {{ form.search(class="form-control", placeholder="...") }}
    {{ form.submit(type="submit", class="btn btn-outline-light", id="button-addon2") }}
  </div>
</form>
{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3><div class="result">Results total: {{ data['totalResults'] }}</div></h3>
<ul>
    {% for i in data['articles'] %}
    {% if i['title'] != '[Removed]' %}
        <li class='li-color'><a href="{{ i['url'] }}" class="li-ssilki">{{ i['title'] }}</a></li>
    {% endif %}
    {% endfor %}</ul>
</body>
{% endblock %}