{% extends "base.html" %}

{% block search %}
<form action="" class='search-form' method="post">
  {{ form.hidden_tag() }}
  <div class="input-group mb-3 search-form">
    {{ form.search(class="form-control", placeholder="...") }}
    {{ form.submit(type="submit", class="btn btn-outline-light", id="button-addon2") }}
  </div>
</form>
{% endblock %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<ul>
    {% for i in data['articles'] %}
    <li class='li-color'><a href="{{ i['url'] }}" class="li-ssilki">{{ i['title'] }}</a></li>
    {% endfor %}</ul>
</body>
{% endblock %}